@mixin backgroundImage($imageUrl) {
  background-color: var(--dark-color);
  background-image: url($imageUrl);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
