.fw-regular {
  font-weight: 300;
}

.fw-strong {
  font-weight: 900;
}

.center-div {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  top: 50%;
}

.title {
  font-family: var(--ff-primary);
  color: var(--accent-color);
  font-size: var(--fs-big);
  width: max-content;
  padding: 5px;
  margin: auto;
  cursor: pointer;
}
.title::after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  background-color: white;
  margin: 0.5em auto 0;
  transition: 0.25s;
}

.title:hover::after {
  width: 100%;
  background-color: currentColor;
}

.subtitle {
  color: white;
  font-size: var(--fs-regular);
  width: max-content;
  margin: 10px auto;
  transition: 0.25s;
}
.subtitle:hover {
  color: var(--accent-color);
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
