@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@200;300;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --accent-color: #16e0bd;
  --dark-color: #3d3d3d;
  --fs-regular: 1.2rem;
  --fs-big: 2.5rem;
}

@media (max-width: 749px) {
  :root {
    --fs-regular: 1rem;
    --fs-big: 2rem;
  }

  section {
    height: 900px;
    position: relative;
  }
}

body {
  width: 100vw;
  font-family: var(--ff-primary);
  overflow-x: hidden;
}
ul {
  list-style: none;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  position: relative;
}

a {
  text-decoration: none;
  &:link,
  &:visited {
    color: #fff;
  }
}

footer {
  height: 20%;
  background-color: var(--dark-color);
  color: white;
  text-align: center;
  font-size: var(--fs-regular);
  padding: 30px;
}

@import "./utils";
@import "./mixins";
@import "./pages/";
@import "./components/";
