.not-found {
  background-color: var(--dark-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  h1 {
    color: var(--accent-color);
    font-size: 160px;
  }

  p {
    color: white;
    font-size: 1.2em;

    a {
      color: var(--accent-color);
      font-weight: 700;
    }
  }

  .gatsby-image-wrapper {
    max-width: 400px;
    max-height: 400px;
  }
}
