.contact {
  @include backgroundImage("../images/contact-bg.jpg");
  color: white;
  @media (min-width: 1200px) {
    .sc-bdnxRM,
    .sc-iCoGMd {
      display: none;
    }
  }
}

.contact-square {
  // padding: 30px;
  width: 230px;
  height: 230px;
  background-color: var(--accent-color);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  i {
    font-size: 50px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
  h3 {
    font-size: 1.3em;
    color: black;
  }
  p {
    color: black;
    // margin-top: 20px;
    font-size: 1.1em;
  }
  a {
    color: black;
    border: 1px solid black;
    padding: 10px 40px;
    background-color: white;
  }
}
