/* Intro */
.intro {
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  @include backgroundImage("../images/intro-bg.jpg");
}

.intro-box {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
}

.intro-box-flex {
  display: flex;
  font-size: var(--fs-regular);
  width: max-content;
  img {
    max-width: 300px;
    max-height: 300px;
    box-shadow: 5px 10px 20px black;
    z-index: 2;
  }
}

.intro-text {
  width: 270px;
  h1 {
    width: 10em;
    margin-top: 40px;
    margin-left: 20px;
  }
}

.typing-text-box {
  background-color: var(--accent-color);
  text-align: right;
  position: relative;
  left: -18em;
  z-index: 1;
  font-family: "Source Code Pro", monospace;
  width: 36em;
  padding: 10px;
  color: var(--dark-color);
  margin-top: 40px;
}

.contact-box {
  margin-top: 20px;
  text-align: center;
  font-size: var(--fs-regular);
}

.social-networks-btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 50%;
}

.link-btn {
  padding: 10px;
  background: none;
  outline: none;
  font-size: 2rem;
  text-align: center;
}

.link-btn:hover {
  width: 125%;
}

.github-btn {
  background: #000;
}

.linkedin-btn {
  background: #2980b9;
}

.contact-btn {
  position: absolute;
  left: 50%;
  bottom: 10%;
  padding: 10px;
  outline: none;
  border: 2px solid #16e0bd;
  cursor: pointer;
  transition: 0.25s;
  font-size: 1.5rem;
  font-family: "Source Sans Pro", sans-serif;
}

.contact-btn:hover {
  background: var(--accent-color);
}

// About me
.about {
  color: white;
  @include backgroundImage("../images/about-bg.jpg");
}

.about-container {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  p {
    text-align: center;
    width: 80%;
    max-width: 1000px;
    font-size: 1.5em;
  }

  @media (max-width: 749px) {
    p {
      font-size: 1em;
    }
  }
}

@media (max-width: 749px) {
  /* Intro */
  .intro {
    height: 100vh;
  }
  .intro-box-flex {
    // display: block;
    flex-direction: column;
    .gatsby-image-wrapper {
      margin: 0 auto !important;
    }
    img {
      max-width: 200px;
      max-height: 200px;
      box-shadow: none;
    }
  }

  .intro-text {
    margin-left: 0;
    width: 100%;
    h1 {
      width: 100%;
      text-align: center;
    }
  }

  .typing-text-box {
    position: static;
    // width: max-content;
    max-width: 95vw;
    text-align: center;
  }

  .contact-box {
    margin-top: 20px;
    text-align: center;
  }

  .social-networks-btns {
    display: none;
  }
}
