.technologies {
  @include backgroundImage("../images/code-bg.jpg");
  color: white;

  @media (min-width: 768px) {
    .sc-bdnxRM,
    .sc-iCoGMd {
      display: none;
    }
  }
}

.technologies-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.technology {
  text-align: center;
}

.technology i {
  font-size: 3em;
  margin-bottom: 0.3em;
}

.technology h3 {
  font-size: 2em;
  margin-bottom: 0.3em;
}

.technology li {
  font-size: var(--fs-regular);
}
