.work {
  color: white;
  text-align: center;
  @include backgroundImage("../images/work-bg.jpg");

  .projects-tags {
    display: flex;
    // flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    transition: 0.25s;
    height: 50px;
    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--dark-color);
      border-radius: 10px;
    }
    p {
      width: 180px;
      display: inline-table;
      border: 1px solid white;
      border-radius: 10px;
      padding: 2px 8px;
      cursor: pointer;
      font-size: 1.1rem;
      &:hover,
      &.active {
        background-color: var(--dark-color);
      }
    }
  }
}

.work-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2,205px);
  justify-content: space-between;
  font-size: var(--fs-regular);
  margin-top: 100px;
  gap: 30px 20px;
  padding: 0 20px;
  // min-height: 430px;

  .gatsby-image-wrapper {
    width: 80%;
    max-height: 80%;
    transition: 0.25s;
    object-fit: cover;
    margin-bottom: 10px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 749px) {
  .work {
    height: auto;
    padding-bottom: 20px;
  }
  .work-container {
    display: block;
    transform: none;
    position: static;
    margin-top: 50px;

    .gatsby-image-wrapper {
      width: 100%;
      max-height: 80%;
      transition: 0.25s;
      object-fit: cover;
      margin-bottom: 10px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .project-container {
    margin-bottom: 50px;
  }
}
