.navigation-menu {
  position: fixed;
  right: 0;
  height: max-content;
  width: max-content;
  z-index: 100;
  padding: 20px 10px;
  border-bottom-left-radius: 20px;
  box-shadow: -1px -1px 10px #626262, 1px 1px 10px #181818;
  display: flex;

  background: #3d3d3d;

  ul {
    display: flex;
    gap: 30px;
    li {
      a {
        transition: 0.25s ease-in;
        &:hover {
          color: var(--accent-color);
        }
      }
    }
    @media (max-width: 950px) {
      flex-direction: column;
      position: absolute;
      top: 0;
      right: -150px;
      transition: 0.25s ease-out;
      background-color: var(--dark-color);
      padding: 50px 30px;
      border-bottom-left-radius: 20px;
      box-shadow: -1px -1px 10px #626262, 1px 1px 10px #181818;

      &.active {
        right: 0;
      }
    }
  }
}

.burger {
  display: none;
  div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  @media (max-width: 950px) {
    display: block;
    div {
      transition: 0.5s ease-in;
    }
    &.active {
      .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .line2 {
        opacity: 0;
      }
      .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}
