.layout1-container {
  padding: 20px 100px 100px 100px;
  font-size: var(--fs-regular);
  background-color: var(--dark-color);
  min-height: 100vh;

  h3 {
    color: var(--accent-color);
    font-size: 2rem;
    margin-top: 20px;
  }

  p {
    line-height: 2;
    color: white;
  }

  .title {
    margin-bottom: 30px;
    &::after {
      background: var(--dark-color);
    }
    &:hover::after {
      background: currentColor;
    }
  }
  a {
    color: var(--accent-color);
  }
}

@media (max-width: 749px) {
  .layout1-container {
    padding: 20px 30px 100px 30px;
  }
}

.stack-list {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
