.project-container {
  background-color: var(--dark-color);
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  p {
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px 8px;
  }
}
