.slick {
  width: 20px;
  border: 1px solid white;
  transition: 0.25s;
  padding: 5px 0;
  cursor: pointer;

  &.active,
  &:hover {
    border-color: var(--accent-color);
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
